<!DOCTYPE html>
<html>
  <head>
    <title>Overtrain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <div class="wrapper">

    <header class="header">

      <div class="leftHeader">
        <%= image_tag "logo.png", Class: "logo_img" %>
        <h1 class="logoText" >OverTrain</h1>
      </div>

      <div class="rightHeader">
        <p><a href="/">about</a></p>
        <p><a href="/">FAQ</a></p>
      </div>

    </header>


    <%= yield %>

  </div>


  </body>
</html>
